<!-- Modal Notifikasi Migrasi Portal -->
<div class="modal fade" id="migrationNoticeModal" tabindex="-1" role="dialog" aria-labelledby="migrationNoticeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title" id="migrationNoticeModalLabel">
          <i class="fa fa-exclamation-triangle"></i> Pemberitahuan Penting
        </h5>
      </div>
      <div class="modal-body">
        <h4 class="text-center mb-3">Program Akan Dipindahkan</h4>
        <p class="lead">Program ini akan <strong>ditutup per tanggal 14 Desember 2025</strong>.</p>
        <p>Kami akan mengalihkan program ini ke:</p>
        <div class="text-center my-3">
          <a href="https://portal.royalcorp.co.id" target="_blank" class="btn btn-primary btn-lg">
            <i class="fa fa-external-link"></i> portal.royalcorp.co.id
          </a>
        </div>
        <hr>
        <p class="mb-2"><strong>Jika Anda ingin mendapatkan akses ke portal baru:</strong></p>
        <ul>
          <li>Silakan buat tiket permintaan akses</li>
          <li>Hubungi IT Support untuk informasi lebih lanjut</li>
        </ul>
        <div class="alert alert-info mt-3">
          <i class="fa fa-info-circle"></i> Harap segera mencoba program di portal baru sebelum tanggal penutupan.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Saya Mengerti</button>
        <a href="https://portal.royalcorp.co.id" target="_blank" class="btn btn-primary">
          Buka Portal Sekarang
        </a>
      </div>
    </div>
  </div>
</div>
